<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Reset Password</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
			rel="stylesheet"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
			rel="stylesheet"
		/>
		<style>
			* {
				font-family: "Poppins", sans-serif;
			}
		</style>
	</head>
	<body>
		<div id="rstpwdApp">
			<v-app>
				<v-snackbar :timeout="7000" v-model="snack" top color="primary" text>
					<v-icon size="20">mdi-check</v-icon> Password updated
				</v-snackbar>
				<v-overlay :opacity="0.8" :value="loading">
					<v-progress-circular
						:size="150"
						color="primary"
						indeterminate
					></v-progress-circular>
				</v-overlay>
				<v-container class="fill-height align-center justify-center">
					<div>
						<h2 class="text-center">Reset Password</h2>
						<v-form @submit.prevent="Reset()" class="mt-10">
							<v-row>
								<v-col cols="12">
									<v-text-field
										type="password"
										outlined
										v-model="password"
										label="New Password"
									></v-text-field>
								</v-col>
								<v-col cols="12">
									<v-btn type="submit" block color="primary" height="45"
										>Submit</v-btn
									>
								</v-col>
							</v-row>
						</v-form>
					</div>
				</v-container>
			</v-app>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="./main.js"></script>
	</body>
</html>
